node_modules

.git
.idea
.turbo
.cache
.DS_Store
.dockerignore
.gitignore
.prettierignore
.prettierrc
.*.*
!.*.client.*

build/
dist/
*.env*
!*.env.example
supabase
**/fly.*
*.vsix
vscode-extension
drizzle-lab.tgz
!.changeset/