@import "tailwindcss/utilities.css" layer(utilities) prefix(dl);
@import "tailwindcss/theme.css" layer(theme) prefix(dl);

@layer theme, base, components, utilities;

:root {
  --background: hsl(240 14.29% 6.86%);
  --foreground: hsl(228.68 72.6% 85.69%);

  --card: hsl(240 14.29% 6.86%);
  --card-foreground: hsl(228.68 72.6% 85.69%);

  --popover: hsl(240 14.29% 6.86%);
  --popover-foreground: hsl(228.68 72.6% 85.69%);

  --primary: hsl(228.68 72.6% 85.69%);
  --primary-foreground: hsl(240 5.9% 10%);

  --secondary: hsl(235 18.75% 12.55%);
  --secondary-foreground: hsl(228.68 72.6% 85.69%);

  --muted: hsl(235 18.75% 12.55%);
  --muted-foreground: hsl(240 5% 64.9%);

  --accent: hsl(235 18.75% 12.55%);
  --accent-foreground: hsl(228.68 72.6% 85.69%);

  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(228.68 72.6% 85.69%);

  --border: hsl(235 18.75% 14.55%);
  --input: hsl(235 18.75% 14.55%);
  --ring: hsl(240 4.9% 83.9%);
  --green: #c5f74f;
  --blue: hsl(220.8 88.65% 72.35%);
  --red: hsl(348.84 88.97% 71.57%);

  --radius: 0.5rem;
}

.dark {
  --background: hsl(240 14.29% 6.86%);
  --foreground: hsl(228.68 72.6% 85.69%);

  --card: hsl(240 14.29% 6.86%);
  --card-foreground: hsl(228.68 72.6% 85.69%);

  --popover: hsl(240 14.29% 6.86%);
  --popover-foreground: hsl(228.68 72.6% 85.69%);

  --primary: hsl(228.68 72.6% 85.69%);
  --primary-foreground: hsl(240 5.9% 10%);

  --secondary: hsl(235 18.75% 12.55%);
  --secondary-foreground: hsl(228.68 72.6% 85.69%);

  --muted: hsl(235 18.75% 12.55%);
  --muted-foreground: hsl(240 5% 64.9%);

  --accent: hsl(235 18.75% 12.55%);
  --accent-foreground: hsl(228.68 72.6% 85.69%);

  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(228.68 72.6% 85.69%);

  --border: hsl(235 18.75% 14.55%);
  --input: hsl(235 18.75% 14.55%);
  --ring: hsl(240 4.9% 83.9%);
  --green: #c5f74f;
  --blue: hsl(220.8 88.65% 72.35%);
  --red: hsl(348.84 88.97% 71.57%);
}

@theme inline {
  --color-red: var(--red);
  --color-blue: var(--blue);
  --color-green: var(--green);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    @apply dl:border-border dl:outline-ring/50;
  }
  body {
    @apply dl:bg-background dl:text-foreground;
  }
}

.container {
  @apply dl:flex dl:flex-col;
}

.container_title {
  @apply dl:text-5xl dl:font-bold dl:text-red-400;
}
