@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --dzl-background: 0 0% 100%;
    --dzl-foreground: 240 10% 3.9%;

    --dzl-card: 0 0% 100%;
    --dzl-card-foreground: 240 10% 3.9%;

    --dzl-popover: 0 0% 100%;
    --dzl-popover-foreground: 240 10% 3.9%;

    --dzl-primary: 240 5.9% 10%;
    --dzl-primary-foreground: 0 0% 98%;

    --dzl-secondary: 240 4.8% 95.9%;
    --dzl-secondary-foreground: 240 5.9% 10%;

    --dzl-muted: 240 4.8% 95.9%;
    --dzl-muted-foreground: 240 3.8% 46.1%;

    --dzl-accent: 240 4.8% 95.9%;
    --dzl-accent-foreground: 240 5.9% 10%;

    --dzl-destructive: 0 84.2% 60.2%;
    --dzl-destructive-foreground: 0 0% 98%;

    --dzl-border: 240 5.9% 90%;
    --dzl-input: 240 5.9% 90%;
    --dzl-ring: 240 10% 3.9%;

    --dzl-radius: 0.5rem;
  }

  .dark {
    --dzl-background: 240 14.29% 6.86%;
    --dzl-foreground: 228.68 72.6% 85.69%;

    --dzl-card: 240 14.29% 6.86%;
    --dzl-card-foreground: 228.68 72.6% 85.69%;

    --dzl-popover: 240 14.29% 6.86%;
    --dzl-popover-foreground: 228.68 72.6% 85.69%;

    --dzl-primary: 228.68 72.6% 85.69%;
    --dzl-primary-foreground: 240 5.9% 10%;

    --dzl-secondary: 235 18.75% 12.55%;
    --dzl-secondary-foreground: 228.68 72.6% 85.69%;

    --dzl-muted: 235 18.75% 12.55%;
    --dzl-muted-foreground: 240 5% 64.9%;

    --dzl-accent: 235 18.75% 12.55%;
    --dzl-accent-foreground: 228.68 72.6% 85.69%;

    --dzl-destructive: 0 62.8% 30.6%;
    --dzl-destructive-foreground: 228.68 72.6% 85.69%;

    --dzl-border: 235 18.75% 14.55%;
    --dzl-input: 235 18.75% 14.55%;
    --dzl-ring: 240 4.9% 83.9%;
    --dzl-green: #c5f74f;
    --dzl-blue: 220.8 88.65% 72.35%;
    --dzl-red: 348.84 88.97% 71.57%;
  }
}

@layer base {
  * {
    @apply dzl-border-border;
  }
  body {
    @apply dzl-bg-background dzl-text-foreground;
  }
}
