@import "tailwindcss/utilities.css" layer(utilities) prefix(dv);
@import "tailwindcss/theme.css" layer(theme) prefix(dv);

@plugin "tailwindcss-animate";

@custom-variant dark (&:where([data-theme-dv=dark], [data-theme-dv=dark] *));

@layer theme, base, utilities;

:root {
  --dv-background: hsl(0 0% 100%);
  --dv-foreground: hsl(240 10% 3.9%);

  --dv-card: hsl(0 0% 100%);
  --dv-card-foreground: hsl(240 10% 3.9%);

  --dv-popover: hsl(0 0% 100%);
  --dv-popover-foreground: hsl(240 10% 3.9%);

  --dv-primary: hsl(0 0% 98%);
  --dv-primary-foreground: hsl(240 5.9% 10%);

  --dv-secondary: hsl(240 4.8% 95.9%);
  --dv-secondary-foreground: hsl(240 5.9% 10%);

  --dv-muted: hsl(240 4.8% 95.9%);
  --dv-muted-foreground: hsl(240 3.8% 46.1%);

  --dv-accent: hsl(240 4.8% 95.9%);
  --dv-accent-foreground: hsl(240 5.9% 10%);

  --dv-destructive: hsl(0 84.2% 60.2%);
  --dv-destructive-foreground: hsl(0 0% 98%);

  --dv-border: hsl(240 5.9% 90%);
  --dv-input: hsl(240 5.9% 90%);
  --dv-ring: hsl(240 10% 3.9%);
  --dv-green: #c5f74f;
  --dv-blue: hsl(220.8 88.65% 72.35%);
  --dv-red: hsl(348.84 88.97% 71.57%);

  --dv-radius: 0.6rem;

  --dv-chart-1: hsl(12 76% 61%);

  --dv-chart-2: hsl(173 58% 39%);

  --dv-chart-3: hsl(197 37% 24%);

  --dv-chart-4: hsl(43 74% 66%);

  --dv-chart-5: hsl(27 87% 67%);
}

[data-theme-dv="dark"] {
  --dv-background: hsl(240 10% 3.9%);
  --dv-foreground: hsl(0 0% 98%);

  --dv-card: hsl(240 10% 3.9%);
  --dv-card-foreground: hsl(0 0% 98%);

  --dv-popover: hsl(240 10% 3.9%);
  --dv-popover-foreground: hsl(0 0% 98%);

  --dv-primary: hsl(240 5.9% 10%);
  --dv-primary-foreground: hsl(0 0% 98%);

  --dv-secondary: hsl(240 3.7% 15.9%);
  --dv-secondary-foreground: hsl(0 0% 98%);

  --dv-muted: hsl(240 3.7% 15.9%);
  --dv-muted-foreground: hsl(240 5% 64.9%);

  --dv-accent: hsl(240 3.7% 15.9%);
  --dv-accent-foreground: hsl(0 0% 98%);

  --dv-destructive: hsl(0 62.8% 30.6%);
  --dv-destructive-foreground: hsl(0 0% 98%);

  --dv-border: hsl(240 3.7% 15.9%);
  --dv-input: hsl(240 3.7% 15.9%);
  --dv-ring: hsl(240 4.9% 83.9%);
  --dv-green: #c5f74f;
  --dv-blue: hsl(220.8 88.65% 72.35%);
  --dv-red: hsl(348.84 88.97% 71.57%);
  --dv-chart-1: hsl(220 70% 50%);
  --dv-chart-2: hsl(160 60% 45%);
  --dv-chart-3: hsl(30 80% 55%);
  --dv-chart-4: hsl(280 65% 60%);
  --dv-chart-5: hsl(340 75% 55%);
}

@theme inline {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  --color-red: var(--dv-red);
  --color-blue: var(--dv-blue);
  --color-green: var(--dv-green);
  --color-background: var(--dv-background);
  --color-foreground: var(--dv-foreground);
  --color-card: var(--dv-card);
  --color-card-foreground: var(--dv-card-foreground);
  --color-popover: var(--dv-popover);
  --color-popover-foreground: var(--dv-popover-foreground);
  --color-primary: var(--dv-primary);
  --color-primary-foreground: var(--dv-primary-foreground);
  --color-secondary: var(--dv-secondary);
  --color-secondary-foreground: var(--dv-secondary-foreground);
  --color-muted: var(--dv-muted);
  --color-muted-foreground: var(--dv-muted-foreground);
  --color-accent: var(--dv-accent);
  --color-accent-foreground: var(--dv-accent-foreground);
  --color-destructive: var(--dv-destructive);
  --color-destructive-foreground: var(--dv-destructive-foreground);
  --color-border: var(--dv-border);
  --color-input: var(--dv-input);
  --color-ring: var(--dv-ring);
  --radius-sm: calc(var(--dv-radius) - 4px);
  --radius-md: calc(var(--dv-radius) - 2px);
  --radius-lg: var(--dv-radius);
  --radius-xl: calc(var(--dv-radius) + 4px);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --color-chart-5: var(--dv-chart-5);
  --color-chart-4: var(--dv-chart-4);
  --color-chart-3: var(--dv-chart-3);
  --color-chart-2: var(--dv-chart-2);
  --color-chart-1: var(--dv-chart-1);
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@layer base {
  [data-app="drizzle-visualizer"] {
    @apply dv:text-foreground dv:font-sans;

    pre {
      @apply dv:m-0;
    }

    /* * {
      @apply dv:border-border dv:outline-ring/50;
    } */
  }
}

.container {
  @apply dv:flex dv:flex-col;
}

.container_title {
  @apply dv:text-5xl dv:font-bold dv:text-red-400;
}
